.search_redesign {
	width: 217px;
	height: 36px;
	display: inline-flex;
	background: #F8FAFC;
	border: 1px solid #E2E8F0;
    border-radius: 24px;
	
}

.search_redesign_icon {
	width: 20px;
	height: 20px;
	background: #94A3B8;
}

.search_redesign span{
	font-family: 'Arival';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	padding: 9px 0px 9px 9px;
	letter-spacing: -0.005em;
	color: #0F172A;
}


.old_redesign {
	display: flex;
	width: 335px;
}

.label_redesign p {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #666787;
	margin-bottom: 8px;
}

.label_redesign p span{
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #2C3540;
}

b {
	color: #FC331F;
	font-weight: 400;
}

.photo_redesign {
	display: flex;
    flex-direction: column;
	margin-right: 20px;
}

.mt4 {
	margin-top: 4px
}
.search-new {
	display:flex;
	align-items: center;
	border: 1px solid #E2E8F0;
	border-radius: 24px;
	padding: 9px 16px;
	background: #F8FAFC;
	color: #94A3B8;
}

.search-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	order: 1;
}

.search-field {
	width: 217px;
	border: 0;
	background: #F8FAFC;
}

.search-field:focus {
	outline: none;
}

.search-field:focus + .search-icon {

}